@tailwind base;
@tailwind components;
@tailwind utilities;

.break-inside-avoid {
  break-inside: avoid;
}

.select-wrapper select::-ms-expand {
  display: none;
}

.select-wrapper select {
  background-position: right 2rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}
